<nav class="navbar navbar-inverse bg-primary navbar-toggleable-md nav-gap">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/add-monster" routerLinkActive="active">Add Monster </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/view-monsters" routerLinkActive="active">View Monsters </a>
    </li>
  </ul>
</nav>
