<div *ngIf="(monsters.length == 0);else show_content ">
  <div class="alert alert-danger" role="alert">
    <strong>Oops</strong> There are no monsters in the database at the moment. Please
    <a routerLink="/add-monster">add one</a>
  </div>
</div>

<ng-template #show_content>
  <div class="card-columns">
    <div *ngFor="let monster of monsters" style="margin: 5px">
      <app-card [data-input]="monster" (removeMonster)="removeMonster($event)"></app-card>
    </div>
  </div>
</ng-template>



